/* Leave as is */
.previewStyles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--target-width) * 1px + var(--width-offset));
  height: calc(var(--target-height) * 1px + var(--height-offset));
  transform-origin: top left;
  overflow: hidden;
  position: absolute;
  left: 0%;
  top: 0%;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.previewStyles .container {
  margin: 0;
  padding: 0;
  border: 0;
  width: calc(var(--original-width) * 1px);
  height: calc(var(--original-height) * 1px);

  position: absolute;
  left: 50%;
  top: var(--top-offset);
  transform: translate(var(--translate-x), -50%) scale(var(--scale-factor));
  transform-origin: center;
}

.previewStyles[data-fit-full="true"] .container {
  --scale-factor: calc(1 * max(calc(var(--target-width) / var(--original-width)), calc(var(--target-height) / var(--original-height))));
}

.previewStyles[data-fit-full="false"] .container {
  --scale-factor: calc(var(--target-width) / var(--original-width));
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  border: none;
  background-color: #ffffff;
}

/* Add any other necessary styles here... */
#contextMenu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
  width: 150px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Style for individual menu items */
.menu-item {
  padding: 10px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #3c3c3c;
}

/* Button styles */
.custom-button {
  border: none;
  cursor: pointer;
  background: linear-gradient(to right, #1a1d64, #20267d);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-family: "Comfortaa", sans-serif; /* Matches Tailwind's 'font-comfortaa' */
  text-align: center;
  display: block;
  margin: 0 auto;
  width: fit-content;
  transition: background 0.3s ease-in-out;
}

.custom-button:hover {
  background: linear-gradient(to bottom left, #1a1d64, #20267d); /* Hover Effect */
}

.save-button {
  border: none;
  cursor: pointer;
  background: linear-gradient(to right, #12766e, #124e4a);
  color: white;
  padding: 25px;
  height: fit-content;
  border-radius: 8px;
  font-size: 20px;
  font-family: "Comfortaa", sans-serif; /* Matches Tailwind's 'font-comfortaa' */
  font-weight: 450px;
  font-size: 60px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  width: fit-content;
  transition: background 0.3s ease-in-out;
  cursor: not-allowed;
  opacity: 0.7;
}

.save-button:hover {
  background: linear-gradient(to bottom left, #12766e, #124e4a); /* Hover Effect */
}

.custom-whiteAndOff-button {
  cursor: pointer;
  /* background: linear-gradient(to right, #a19ad3, #5d3f6a); */
  background-color: #808080;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-family: "Comfortaa", sans-serif; /* Matches Tailwind's 'font-comfortaa' */
  text-align: center;
  display: block;
  margin: 0 auto;
  width: fit-content;
  transition: background 0.3s ease-in-out;
}

.close-icon {
  position: fixed;
  right: 60px;
  top: 50px;
  font-size: 50px;
  font-weight: bold;
  font-family: "Comfortaa", cursive;
  cursor: pointer;
  z-index: 9999;
  color: #fff;
  transition: transform 0.2s ease, color 0.3s ease;
}

/* Hover effect */
.close-icon:hover {
  color: #ff4d4d; /* Soft red */
  transform: scale(1.2);
}

/* Settings Screen Container */
.settings-screen {
  z-index: -1;
  display: none;
  flex-direction: column;
  width: 1024px;
  height: 1024px;
  background: linear-gradient(to right, #4b0082, #292b5b);
  color: white;
  overflow: auto;
  position: absolute;
  left: 0px;
  top: 0px;
}

/* Settings Section Headings */
.settings-section {
  padding: 40px;
  background: linear-gradient(to right, #4b0082, #292b5b);
  color: #ffffff;
  border-radius: 12px;
  margin-top: 50px;
}

.settings-section-title {
  text-align: center;
  font-family: "Chewy", cursive;
  font-size: 80px;
  font-weight: 500;
  margin-bottom: 30px;
  background: linear-gradient(to right, #ffcb6f, #ffe6b8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Word Input Field */
.word-input {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #feb781;
  font-size: 20px;
  font-family: "Comfortaa", cursive;
  text-align: center;
  width: 220px;
  background-color: #fff3e0;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

/* Optional hover/focus styles */
.word-input:focus {
  outline: none;
  border-color: #ffa94d;
  background-color: #fff8ec;
}
.word-input:hover {
  background-color: #fff8ec;
  border-color: #ffa94d;
}

/* Image Upload Containers */
.image-upload-container {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  margin-bottom: 40px;
  padding: 10px;
  border: 1px solid #feb781;
  border-radius: 12px;
  background: linear-gradient(to right, #ff9900, #ffcc66);

  /* Centering it */
  margin: 0 auto; /* Works for block elements */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content inside */
  justify-content: center;
}

.letter-input-container {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  margin-bottom: 40px;
  padding: 10px;
  border: 1px solid #feb781;
  border-radius: 12px;
  background: linear-gradient(to right, #ff9900, #ffcc66);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.letter-input {
  width: 100px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #feb781;
  border-radius: 8px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.letter-input::placeholder {
  color: #888;
  text-transform: none;
}

.letter-input:focus {
  outline: none;
  border-color: #ff9900;
  box-shadow: 0 0 5px rgba(255, 153, 0, 0.5);
}

.image-upload-preview {
  display: block;
  margin: 0 auto 20px;
  width: 250px;
  height: 250px;
  border-radius: 12px;
  border: 1px solid black;
  object-fit: cover;
}

/* Tooltip Button Containers */
.tooltip-button-container {
  position: relative;
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid #feb781;
  border-radius: 12px;
  background: linear-gradient(to right, #ff9900, #ffcc66);
  text-align: center;

  width: fit-content;
  height: fit-content;
  /* Centering it */
  margin: 0 auto; /* Works for block elements */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content inside */
  justify-content: center;
}

.toggle-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Sound Effects Section */
.sound-effect-row {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #feb781;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 20px;
  background: linear-gradient(to right, #ff9900, #ffcc66);
}

.sound-effect-label {
  flex: 1;
  font-family: "Comfortaa", cursive;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #292b5b;
}

.sound-effect-controls {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sound-effect-audio {
  width: 250px;
  height: 40px;
  margin-left: 47%;
  outline: none;
}

.image-upload-input {
  display: none;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.heading {
  font-weight: 450;
  font-size: 80px;
}

.screen {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: -1;
  display: none;
  flex-direction: column;
  width: 1024px;
  height: 1024px;
  background: linear-gradient(to right, #4b0082, #292b5b);
  color: white;
  overflow: scroll;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.itemAddScreen {
  z-index: -1;
  display: none;
  flex-direction: column;
  width: 1024px;
  height: 1024px;
  background: linear-gradient(to right, #4b0082, #292b5b);
  position: absolute; /* Ensure positioning matches */
  left: 0px;
  top: 0px;
  color: white;
  overflow: auto; /* Match overflow behavior */
}

.closeBtn {
  position: absolute;
  right: 60px;
  top: 50px;
  font-weight: 450;
  font-size: 50px;
  cursor: pointer;
  z-index: 9999;
}

/* General styling for input fields and textareas */
.styled-input,
.styled-textarea {
  width: 100%; /* Full width of container */
  padding: 15px 20px; /* Comfortable padding */
  font-size: 3rem; /* Responsive font size */
  border: 2px solid #ccc; /* Light border */
  border-radius: 8px; /* Rounded corners */
  outline: none; /* Remove default focus outline */
  background-color: #f8f8f8; /* Soft background */
  transition: all 0.3s ease-in-out;
  font-family: "Comfortaa", cursive;
}

/* Input hover and focus effect */
.styled-input:hover,
.styled-textarea:hover,
.styled-input:focus,
.styled-textarea:focus {
  border-color: #ff9900;
  box-shadow: 0px 4px 8px rgba(0, 123, 255, 0.2);
  background-color: #ffffff;
}

/* Style for textarea */
.styled-textarea {
  resize: none; /* Prevent resizing */
  font-size: 1.3rem; /* Slightly smaller text than inputs */
  height: 10rem; /* Fixed height */
  width: 52rem; /* Fixed width */
}

img,
div {
  -webkit-user-drag: none; /* Disable dragging in Safari */
}



.game-container {
  /* Keep other styles */
  border-radius: 30px;
  max-width: 960px;
  min-height: 600px;
  text-align: center;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  box-sizing: border-box;
  /* Clean up duplicate padding and width, set a sufficient padding-top */
  padding: 20px; /* Keep a base padding */
  padding-top: 80px; /* Increased padding-top to accommodate negative margin */
  width: 100%; /* Use 100% width with max-width */
}

.game-container h1 {
  /* background: rgba(255, 255, 255, 0.95); */
  /* box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2); */
  font-family: 'Chewy', cursive;
  /* border: 3px dashed #03fbff; */
  border-radius: 20px;
  font-size: 3.5em;
  letter-spacing: 1px;
  color: #ff6b81;
  margin-bottom: 50px; /* Keep your desired bottom margin */
  width: 50%;
  margin-left: 230px;
  margin-top: 10px; 
} 

 #words-container {
  /* border: 3px dashed #ffb703;
  background-color: #fffbe6; */
  padding: 20px;
  margin-top: 80px;
  width: 100%;
  min-height: 380px;
  margin-left: 80px;
  margin-bottom: 20px;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  /* overflow: auto; */
  box-sizing: border-box;
}

/* #words-container {
  border: 3px dashed #ffb703;
  background-color: #fffbe6;
  padding: 20px;
  width: 100%;
  min-height: 380px;
  margin-bottom: 20px;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  overflow: auto;
  box-sizing: border-box;
}

#words-container {
  border: 3px dashed #ffb703;
  background-color: #fffbe6;
  padding: 20px;
  width: 100%;
  min-height: 380px;
  margin-bottom: 20px;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  overflow: auto;
  box-sizing: border-box;
}

#words-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

#words-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

#words-container::-webkit-scrollbar-thumb {
  background-color: #ff6b81;
  border-radius: 10px;
} */

.word-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 26px;
  background-color: #fcefee;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: fit-content;
  position: relative;
}

.word-item span{
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: 1.8em;
}

.word-item img {
  max-width: 60px;
  border-radius: 8px;
  height: auto;
}


.blank,
.filled {
  display: inline-block;
  width: 36px;
  height: 48px;
  border-bottom: 4px solid #ff6b81;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 4px;
  background-color: #fff;
  border-radius: 6px;
  line-height: 48px;
  vertical-align: middle;
}

.filled {
  color: #28a745;
}

#alphabet-container {
  padding: 20px;
  width: 100%;
  min-height: 300px; /* Increased to fit 3 rows (80px * 3 + padding) */
  border-radius: 15px;
  position: relative; /* Ensure absolute children are positioned relative to this */
  z-index: 3;
  box-sizing: border-box;
  margin-bottom: 20px;
  /* background-color: #e6f3ff; 
  border: 2px solid #4dabf7;  */
}

.letter {
  font-family: 'Comfortaa', cursive;
  width: 65px;
  height: 65px;
  margin-left: 30px;
  background-color: #4dabf7;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.5em;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: grab;
  transition: all 0.3s ease;
}

.letter:hover {
  transform: scale(1.15);
  background-color: #3694db;
}

button {
  font-family: 'Chewy', cursive;
  padding: 20px 40px;
  letter-spacing: 3px;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  margin-left: 0px;
}

#view-score-btn {
  background-color: #6ac259;
}

#view-score-btn:hover {
  background-color: #57a146;
  transform: scale(1.05);
}


#close-score-btn {
  background-color: #ff6f61;
}

#close-score-btn:hover {
  background-color: #e65850;
  transform: scale(1.05);
}

#return-to-menu-btn {
  background-color: #ff6b81;
  margin-top: 20px;
}

#return-to-menu-btn:hover{
  background-color: #f81aaaf5;
  transform: scale(1.05);
}

/* Score Popup */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fffbe6;
  padding: 40px 50px;
  border-radius: 25px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
  z-index: 1000;
  min-width: 320px;
  text-align: center;
}

.popup h2 {
  font-size: 2em;
  color: #ff6b81;
  margin-bottom: 20px;
}

#score-details {
  font-size: 1.1em;
  color: #444;
  margin-bottom: 25px;
  line-height: 1.6;
}

.feedback {
  position: absolute;
  padding: 8px 16px;
  border-radius: 10px;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  opacity: 0.95;
  animation: fadeOut 2.6s forwards;
}

.feedback.correct {
  background-color: #28a745;
}

.feedback.wrong {
  background-color: #dc3545;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}